.desktop1-container {
  min-height: 100vh;
}
.desktop1-desktop1 {
  width: 100%;
  height: 2676px;
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(255, 255, 255, 1);
}
.desktop1-rectangle6 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 666px;
  position: absolute;
  border-color: transparent;
}
.desktop1-text {
  top: 666px;
  left: 14px;
  color: rgba(58, 44, 8, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Verdana;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop1-line2 {
  top: 705px;
  left: 0px;
  width: 307px;
  height: 0px;
  position: absolute;
}
.desktop1-rectangle19 {
  top: 749px;
  left: 115px;
  width: 250px;
  height: 150px;
  position: absolute;
  border-color: transparent;
  border-radius: 10px;
}
.desktop1-rectangle39 {
  top: 963px;
  left: 115px;
  width: 250px;
  height: 150px;
  position: absolute;
  border-color: transparent;
  border-radius: 10px;
}
.desktop1-rectangle40 {
  top: 963px;
  left: 434px;
  width: 250px;
  height: 150px;
  position: absolute;
  border-color: transparent;
  border-radius: 10px;
}
.desktop1-rectangle41 {
  top: 963px;
  left: 753px;
  width: 250px;
  height: 150px;
  position: absolute;
  border-color: transparent;
  border-radius: 10px;
}
.desktop1-rectangle42 {
  top: 963px;
  left: 1072px;
  width: 250px;
  height: 150px;
  position: absolute;
  border-color: transparent;
  border-radius: 10px;
}
.desktop1-text02 {
  top: 857px;
  left: 204px;
  color: rgba(58, 44, 8, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Abel;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.desktop1-text04 {
  top: 1070px;
  left: 209px;
  color: rgba(58, 44, 8, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Abel;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.desktop1-text06 {
  top: 1070px;
  left: 521px;
  color: rgba(58, 44, 8, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Abel;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.desktop1-text08 {
  top: 1070px;
  left: 820px;
  color: rgba(58, 44, 8, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Abel;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.desktop1-text10 {
  top: 1070px;
  left: 1095px;
  color: rgba(58, 44, 8, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Abel;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.desktop1-rectangle27 {
  top: 757px;
  left: 160px;
  width: 160px;
  height: 100px;
  position: absolute;
  border-color: transparent;
}
.desktop1-rectangle43 {
  top: 970px;
  left: 174px;
  width: 160px;
  height: 100px;
  position: absolute;
  border-color: transparent;
}
.desktop1-rectangle44 {
  top: 970px;
  left: 484px;
  width: 160px;
  height: 100px;
  position: absolute;
  border-color: transparent;
}
.desktop1-rectangle45 {
  top: 963px;
  left: 798px;
  width: 160px;
  height: 100px;
  position: absolute;
  border-color: transparent;
}
.desktop1-rectangle46 {
  top: 963px;
  left: 1123px;
  width: 160px;
  height: 100px;
  position: absolute;
  border-color: transparent;
}
.desktop1-rectangle20 {
  top: 749px;
  left: 434px;
  width: 250px;
  height: 150px;
  position: absolute;
  border-color: transparent;
  border-radius: 10px;
}
.desktop1-rectangle29 {
  top: 749px;
  left: 753px;
  width: 250px;
  height: 150px;
  position: absolute;
  border-color: transparent;
  border-radius: 10px;
}
.desktop1-rectangle30 {
  top: 749px;
  left: 1072px;
  width: 250px;
  height: 150px;
  position: absolute;
  border-color: transparent;
  border-radius: 10px;
}
.desktop1-text12 {
  top: 861px;
  left: 1123px;
  color: rgba(58, 44, 8, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Abel;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.desktop1-text14 {
  top: 857px;
  left: 505px;
  color: rgba(58, 44, 8, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Abel;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.desktop1-rectangle28 {
  top: 757px;
  left: 479px;
  width: 160px;
  height: 100px;
  position: absolute;
  border-color: transparent;
}
.desktop1-rectangle37 {
  top: 761px;
  left: 798px;
  width: 160px;
  height: 100px;
  position: absolute;
  border-color: transparent;
}
.desktop1-text16 {
  top: 861px;
  left: 834px;
  color: rgba(58, 44, 8, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Abel;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.desktop1-rectangle38 {
  top: 761px;
  left: 1124px;
  width: 160px;
  height: 100px;
  position: absolute;
  border-color: transparent;
}
.desktop1-text18 {
  top: 1626px;
  left: 38px;
  color: rgba(172, 108, 13, 1);
  width: 296px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Verdana;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop1-text20 {
  top: 1648px;
  left: 40px;
  color: rgba(58, 44, 8, 1);
  width: 296px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Verdana;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop1-text22 {
  top: 1648px;
  left: 1028px;
  color: rgba(58, 44, 8, 1);
  width: 296px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Verdana;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop1-text24 {
  top: 1648px;
  left: 698px;
  color: rgba(58, 44, 8, 1);
  width: 296px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Verdana;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop1-text26 {
  top: 1648px;
  left: 366px;
  color: rgba(58, 44, 8, 1);
  width: 296px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Verdana;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop1-text28 {
  top: 1626px;
  left: 1028px;
  color: rgba(172, 108, 13, 1);
  width: 296px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Verdana;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop1-text30 {
  top: 1626px;
  left: 698px;
  color: rgba(172, 108, 13, 1);
  width: 296px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Verdana;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop1-text32 {
  top: 1626px;
  left: 365px;
  color: rgba(172, 108, 13, 1);
  width: 296px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Verdana;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop1-text34 {
  top: 1231px;
  left: 11px;
  color: rgba(58, 44, 8, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Verdana;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop1-line1 {
  top: 1270px;
  left: 0px;
  width: 550px;
  height: 0px;
  position: absolute;
}
.desktop1-i-m-a-g-e4ade7399bf77c02fb4375543e99a82361 {
  top: 1326px;
  left: 40px;
  width: 277px;
  height: 300px;
  position: absolute;
  border-color: transparent;
}
.desktop1-i-m-a-g-e4ade7399bf77c02fb4375543e99a82364 {
  top: 1326px;
  left: 1028px;
  width: 300px;
  height: 300px;
  position: absolute;
  border-color: transparent;
}
.desktop1-i-m-a-g-e4ade7399bf77c02fb4375543e99a82363 {
  top: 1326px;
  left: 698px;
  width: 300px;
  height: 300px;
  position: absolute;
  border-color: transparent;
}
.desktop1-i-m-a-g-e4ade7399bf77c02fb4375543e99a82362 {
  top: 1326px;
  left: 368px;
  width: 299px;
  height: 300px;
  position: absolute;
  border-color: transparent;
}
.desktop1-group30 {
  top: 1888px;
  left: 87px;
  width: 173px;
  height: 65px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(172, 108, 13, 1);
}
.desktop1-text36 {
  top: 19px;
  left: 15px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Abel;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-rectangle18 {
  top: 1888px;
  left: 427px;
  width: 173px;
  height: 65px;
  position: absolute;
  border-color: transparent;
  border-radius: 15px;
}
.desktop1-text38 {
  top: 1907px;
  left: 442px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Abel;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop1-rectangle181 {
  top: 1888px;
  left: 760px;
  width: 173px;
  height: 65px;
  position: absolute;
  border-color: transparent;
  border-radius: 15px;
}
.desktop1-text40 {
  top: 1907px;
  left: 775px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Abel;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop1-group301 {
  top: 1888px;
  left: 1089px;
  width: 173px;
  height: 65px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(172, 108, 13, 1);
}
.desktop1-text42 {
  top: 19px;
  left: 15px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Abel;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text44 {
  top: 2216px;
  left: 1291px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Abel;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop1-rectangle291 {
  top: 2121px;
  left: 2px;
  width: 1438px;
  height: 407px;
  position: absolute;
  border-color: transparent;
}
.desktop1-group15 {
  top: 2467px;
  left: 1276px;
  width: 138.80694580078125px;
  height: 47px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(172, 108, 13, 1);
}
.desktop1-text45 {
  top: 8px;
  left: 17px;
  color: rgba(255, 255, 255, 1);
  width: 103px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Abel;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-group17 {
  top: 2216px;
  left: 98px;
  width: 506.35284423828125px;
  height: 279px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(172, 108, 13, 1);
}
.desktop1-rectangle32 {
  top: 52px;
  left: 31.581268310546875px;
  width: 113px;
  height: 88px;
  position: absolute;
  border-color: transparent;
  border-radius: 5px;
}
.desktop1-rectangle34 {
  top: 53px;
  left: 164.22256469726562px;
  width: 294px;
  height: 174px;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
}
.desktop1-text47 {
  top: 110px;
  left: 171.59152221679688px;
  color: rgba(58, 44, 8, 1);
  width: 267px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Verdana;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text49 {
  top: 64px;
  left: 171.59152221679688px;
  color: rgba(255, 255, 255, 1);
  width: 267px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Abel;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-group18 {
  top: 2212px;
  left: 720px;
  width: 506.35284423828125px;
  height: 279px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(172, 108, 13, 1);
}
.desktop1-rectangle33 {
  top: 52px;
  left: 26.31768798828125px;
  width: 113px;
  height: 88px;
  position: absolute;
  border-color: transparent;
  border-radius: 5px;
}
.desktop1-rectangle35 {
  top: 53px;
  left: 152.64276123046875px;
  width: 298px;
  height: 174px;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
}
.desktop1-text51 {
  top: 106px;
  left: 173.6968994140625px;
  color: rgba(58, 44, 8, 1);
  width: 267px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Verdana;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text53 {
  top: 69px;
  left: 171.59149169921875px;
  color: rgba(255, 255, 255, 1);
  width: 256px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Abel;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-line3 {
  top: 2187px;
  left: 671px;
  width: 78px;
  height: 0px;
  position: absolute;
}
.desktop1-line4 {
  top: 2187px;
  left: 584px;
  width: 78px;
  height: 0px;
  position: absolute;
}
.desktop1-text55 {
  top: 2143px;
  left: 538px;
  color: rgba(255, 255, 255, 1);
  width: 278px;
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Verdana;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop1-group24 {
  top: 0px;
  left: 0px;
  width: 1439.77734375px;
  height: 77.55606079101562px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(196, 196, 196, 0.5);
}
.desktop1-rectangle421 {
  top: 6px;
  left: 31.995052337646484px;
  width: 84px;
  height: 65px;
  position: absolute;
  border-color: transparent;
}
.desktop1-text57 {
  top: 25px;
  left: 812.874267578125px;
  color: rgba(58, 44, 8, 1);
  width: 65px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Abel;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text59 {
  top: 25px;
  left: 906.8597412109375px;
  color: rgba(58, 44, 8, 1);
  width: 154px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Abel;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text61 {
  top: 25px;
  left: 1056.8365478515625px;
  color: rgba(58, 44, 8, 1);
  width: 123px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Abel;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text63 {
  top: 25px;
  left: 1180px;
  color: rgba(58, 44, 8, 1);
  width: 82px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Abel;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-group20 {
  top: 2528px;
  left: 0px;
  width: 1440px;
  height: 148px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(58, 44, 8, 1);
}
.desktop1-vector {
  top: 36px;
  left: 789.875px;
  width: 29px;
  height: 29px;
  position: absolute;
}
.desktop1-vector1 {
  top: 37.65576171875px;
  left: 615.25px;
  width: 32px;
  height: 26px;
  position: absolute;
}
.desktop1-vector2 {
  top: 36px;
  left: 669.875px;
  width: 29px;
  height: 29px;
  position: absolute;
}
.desktop1-vector3 {
  top: 43.112548828125px;
  left: 731.984375px;
  width: 15px;
  height: 15px;
  position: absolute;
}
.desktop1-vector4 {
  top: 41.084716796875px;
  left: 745.5579833984375px;
  width: 4px;
  height: 4px;
  position: absolute;
}
.desktop1-vector5 {
  top: 36.008056640625px;
  left: 724.8782958984375px;
  width: 29px;
  height: 29px;
  position: absolute;
}
.desktop1-text65 {
  top: 83.125px;
  left: 548px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Yrsa;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text67 {
  top: 105.125px;
  left: 536px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Times New Roman;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-group40 {
  top: 266px;
  left: 503px;
  width: 433px;
  height: 81.43386840820312px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(225, 211, 193, 0.6000000238418579);
}
.desktop1-group14 {
  top: 20px;
  left: 71px;
  width: 292px;
  height: 42.65583038330078px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.desktop1-text69 {
  color: rgba(58, 44, 8, 1);
  width: 292px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Verdana;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text71 {
  top: 20px;
  left: 123px;
  color: rgba(58, 44, 8, 1);
  width: 259px;
  height: auto;
  position: absolute;
  font-size: 28px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Almendra;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop1-group41 {
  top: 19px;
  left: 1308px;
  width: 113px;
  height: 40px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(172, 108, 13, 1);
}
.desktop1-text73 {
  top: 1px;
  left: 31px;
  color: rgba(255, 255, 255, 1);
  width: 52px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Abel;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
